.container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.card {
   background-color: #3761f3;
   border-radius: 16px;
   box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
   padding: 20px;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
